/* font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", serif;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 200px;
  margin-top: 40px;
}
#nav li {
  list-style: none;
  margin-right: 20px;
}
#nav li a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: Roboto;
}
/* hello container */
#hello-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
#hello-container .title {
  font-family: Bebas Neue;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}
#hello-container .subtitle {
  color: rgb(62, 62, 62);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 14px 0;
}
#hello-container .img {
  width: 532.07px;
  height: 541.17px;
}
.btn {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 6px;
  border: 0;
  padding: 12px;
  background: linear-gradient(
    0deg,
    rgb(255, 128, 99) -28.333%,
    rgb(244, 96, 96) 95.833%
  );
}
@media screen and (max-width: 576px) {
  #nav {
    margin-right: 0px;
  }
  #hello-container{
    flex-direction: column-reverse;
  }
}
